.slider-container {
    max-width: 800px;
    margin: auto;
    .slide {
      text-align: center;
      img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
      h3 {
        margin-top: 10px;
        color: #333;
      }
    }
  }
  